# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache
*.db

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Environment variables
.env
.env.local 